---
- name: Manage mongos configuration
  ansible.builtin.template:
    dest: "{{ mongos_config_file }}"
    src: mongos.j2.yaml
    mode: "u=rw,go=r"
  vars:
    _port: "{{ mongos_service_port }}"
    _replset_config_name: "{{ mongos_replicaset_config_name }}"
    _format: "%s:{{ mongos_replicaset_config_port }}"
    _members: "{{ mongos_replicaset_config_members | map('nephelaiio.plugins.map_format', _format) }}"
    _replset_config_members: "{{ _members | join(',') }}"
    _verbosity: "{{ mongos_config_verbosity }}"
    _bindip: "{{ mongos_config_bindip }}"
    _log_trace: "{{ mongos_config_log_trace }}"
    _log_timestamp_format: "{{ mongos_config_timestamp_format }}"
  register: mongos_config
  notify: daemon_restart
